name: Unit Tests

on: [push, pull_request]

jobs:
  multi_platform_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    name: Test python${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout the repository
        uses: actions/checkout@main
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.12"
          python-version: ${{ matrix.python-version }}

      - name: run unit tests
        run: uv run pytest
